.nav-link{
    color: white;
    text-decoration: none;
   
  
}

.wrapper{
    background-color:#EEEEEE;
    h3{
        padding-top: 10px;
        text-align: center;
        font-weight: lighter;
    }
}
#p{text-align: center; padding-bottom: 10px;}

#btn{
    background-color:#1e90ff;
    border: none;
    height: 40px;
   
}