
.form-wrapper{
    text-align: center;
    padding: 6px
    
}

.text{
  padding-left: 7px;
  height: 40px;
  font-size: $m-size;
}

.opt{
    font-size: $m-size;
    height: 44px;
    padding-left:4px;
}

.stdate{
  padding-left: 7px;
  height: 40px;
  font-size: 1.3rem;
}

.edate{

padding-left: 7px;
height: 40px;
font-size: 1.3rem;
}

.btn-clear-dates{
  color:white;
  font-size: $l-size;
  background-color:#1e90ff;
  border:none
}